.header_links {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

}

header nav .mini-logo {
    display: flex;
    align-items: center;
}

header nav .mini-logo img {
    width: 40px;

}

.mini-logo p {
    font-family: "Momo Trust Display";
}

.header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header_links a {
    text-decoration: none;
    color: var(---main-font);
    font-family: 'Momo Trust Sans';
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

.header_links a:hover {
    color: var(---bright-red);
    transition: all 0.3s ease-in-out;
}


.header_button {
    width: 100px;
    height: 30px;
    border: 2px solid var(---button-bg);
    text-align: center;
    padding: 2px;
    color: var(---main-font);
    text-decoration: none;

    font-family: 'Momo Trust Sans';
    font-weight: 600;
}

.header_button:hover {
    box-shadow: 2px 2px var(---bright-red);
    transition: all 0.2s ease-in-out;
}

.scrolled {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    background-color: var(---background-color, #f5f0ebcc);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    backdrop-filter: blur(5px);
}