.main_sec {
    padding-top: 100px;
}

.main_text_sec h1 {
    font-family: "Momo Trust Display";
    font-weight: 100;
}

.text_sec_bottom {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.text_sec_bottom p {
    font-family: "Momo Trust Sans";
    font-weight: 800;
}

.main_text_buttons {
    display: flex;
    align-items: center;

    height: 30px;
    border: 1px black;

}

.main_text_buttons a {
    padding: 10px;
    text-decoration: none;
    font-family: "Momo Trust Sans";
    border: 1px solid var(---main-text-primary);
}

.main_text_buttons a:first-child {
    background-color: var(---main-text-primary);
    color: var(---main-bg);
}

.main_text_buttons a:last-child {
    background-color: transparent;
    color: var(---main-text-primary);
}