@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=Momo+Trust+Display&family=Momo+Trust+Sans:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "./header.css";
@import "./home.css";
@import "./line.css";
@import "./info.css";
@import "./stats.css";
@import "./goals.css";

:root {
    ---main-text-primary: #000000;
    ---main-bg: #F5F0EB;
    ---secondary-text: #6E6A66;
    ---bright-red: #ED4A3B;
    ---button-bg: #272727;
}

/* FOR FONTS MAYBE WILL BE 
font-family: "Momo Trust Display"; 
font-family: "Momo Trust Sans";  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(---main-font);
}

html {
    /* to make the changing sections smooth */
    scroll-behavior: smooth;
}

body {
    background-color: var(---main-bg);

}

.container {
    max-width: 1300px;
    margin: 0 auto;
}